<footer>
    <small>
        <a role="link" href="#">Política de privacidade</a>
        <p>Este site e plataforma foi feito com inteligência humana por <a href="/">© Walter Melo - Design e Desenvolvimento</a></p>
        <a role="link" href="#">Termos e condições</a>        
    </small>
</footer>

<style>
    footer small {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }

    @media (min-width: 767px) {
        footer small {
            flex-direction: row;
            justify-content: space-between;
        }
    }
</style>