---
import { courses as c } from '@bobartelie/shared/scripts/Baserow'
import { Image } from 'astro:assets';

const courses = await c.take(4)
---

<section>
    <div>
        <h2>
            Cursos sob medida <br>
            De artista para artista
        </h2>
    </div>
    <section>
        { 
        courses.map((course: any) => 
            <article>          
                <Image src={course.Thumbnail[0].url} alt="" inferSize={true}/>
                <div>
                    <small>R$ {course['Preço']} </small>
                    <h3>{ course['Name']}</h3>
                    <a href="#">Ver curso</a>
                </div>
            </article>
        )}
    </section>
</section>

<style lang="scss">
    article {
        position: relative;
        width: 7rem;
        
        div {
            position: relative;
        }
        
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            object-fit: cover;
            object-position: top;
        }
    }
</style>